{% extends 'base.html' %}


{% block page_name %}
    JB's First Django Templates
{% endblock page_name %}
    
{% block one %}
{% for room in rooms %}
<h1>{{room.name}} / ${{room.price}}</h1>
{% endfor %}

<!-- #11.3 >> Django에서 너무많은 logic을 사용하진 못한다. 그러므로, |add:"1" 과 같은 tag를 사용할 수 있다. -->
<!-- https://docs.djangoproject.com/en/2.2/ref/templates/builtins/#built-in-filter-reference -->
    <h5>
    
    {% if page_obj.has_previous %}
    <a href="?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}
    
    Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}
    
    <!-- #11.5 >> exception -->
    {% if page_obj.has_next %}
    <a href="?page={{page_obj.next_page_number}}">Next</a>
    {% endif %}

        
    </h5>
        

{% endblock one %}
